      //
         Main hero unit for a primary marketing message or call to action 
      .hero-unit
        h1 Consult an Expert
        p
          | Book time
        p
          a(href='/book').btn.btn-primary.btn-large Book a slot!
