.hero-unit
  h1 Expert Q&A
  p
    | Need help with your stuff? Book into one of our Q&A events!
  - each event in events
    p
      | #{event.name}
    p
      | #{event.date}
    p
      | #{event.time}
    p
      a.btn(href='/event/#{event._id}').btn-primary.btn-large Reserve your place!
