      //
         Main hero unit for a primary marketing message or call to action 
      .hero-unit
        h1 So you're an expert are you?
        p
          | Who are you?
        p
          a.btn(href='/book').btn-primary.btn-large Register
