.hero-unit
  h1 Consult an Expert
  p
    | Need help with your stuff?
  p
    a.btn(href='https://hangoutsapi.talkgadget.google.com/hangouts/_/e45b9facf4c1e2e601ed81f6386120d46eb63997?authuser=0').btn-primary.btn-large Join the conference!
