html(lang='en')
  head
    script(src='//hangoutsapi.talkgadget.google.com/talkgadget/apps/gadgets/js/rpc.js')
    script(src='//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.1')
    script(src='/js/jquery.js')
    script(src='/js/hangout.js')
    script(src='https://apis.google.com/js/client.js?onload=onClientReady')
  body
    img(src='/img/5live_plain_07.png')
