doctype 5
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')

    link(href='http://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet', type='text/css')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    style(type='text/css')
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
    link(href='/css/bootstrap-responsive.min.css', rel='stylesheet')
    link(href='/css/datepicker.css', rel='stylesheet')
    link(href='/css/timepicker.css', rel='stylesheet')
    link(href='/css/local.css', rel='stylesheet')

    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
 
    link(rel='shortcut icon', href='/img/favicon.ico')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/img/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/img/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/img/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/img/apple-touch-icon-57-precomposed.png')

    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.dateFormat-1.0.js')
    script(src='/js/bootstrap-datepicker-plus-month-names.js')
    script(src='/js/bootstrap-timepicker.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') #{title}
          .nav-collapse
            ul.nav
              - if (user)
                li
                  a(href='/newEvent') New Event
                li
                  a(href='/user') My Stuff
                li
                  a(href='/logout') Log out #{user.profile.displayName}
              - else
                li
                  a(href='/auth/google') Login with Google
                  
    .container
      block mainContent
